<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="comment: ${commentList}">
    <p th:text = "${comment.getComment() + ', '+comment.getDate() + ', '+comment.getCustomer() + ','}"></p>
    <div th:if="${comment.getCommentt()!=null}" th:text="${comment.getCommentt().getComment()}"></div>

</div>

<form th:method="POST" th:action="@{/writeComment}">
    <input type="text" name="comment" placeholder="Введите ваш comment">
    <br/>
    <input type="submit" value="Create!"/>
</form>
<a href = "home">Link to main</a>

</body>
</html>