<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/edit}">
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name = "login">
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="login" name = "login">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Name" name = "name">
    </div>




    <br/>
  <input type="submit" value="Create!"/>
</form>


</body>

</html>