<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>

<form th:method="post" th:action="@{/findByEmail}">
  <input type="text" name="email"  id = "email" placeholder="Введите ваш email" >
    <input type="submit" value="Order" class="btn btn-primary"/>
</form>
<br><br><br>

<td>
    <span th:if="${status == 'Success'}">Success</span>
    <span th:if="${status == 'No such email'}">No such email</span>
    <span th:unless="${status == 'Hello' || status == 'No such email'}">.....</span>
</td>
</div>

<br><br><br>

<form th:method="post" th:action="@{/changePassword}">
    <input type="text" name="login"  id = "login" placeholder="Введите новый логин: " >
    <input type="text" name="password"  id = "password" placeholder="Введите новый password: " >
    <input type="submit" value="Order" class="btn btn-primary"/>
</form>

<br><br><br>
<a th:href = "login">Login</a>








</body>
</html>