<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  <div class="text-center container-lg">
      <div class="row gutters-sm" style="margin-left: 60px">
          <div class="col-md-auto ms-8">
              <div class="card h-100">
                  <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i></h6>
                      <div th:object="${zakaz}"class = "alert alert-info mt-2 text-center">
                          <p th:text="${'Service: '+ zakaz.getService().getName()}"></p>
                          <p th:text="${'Status: '+ zakaz.getStatus()}"></p>
                          <p th:text="${'Customer: '+zakaz.getCustomer().getName()}"></p>
                          <p th:text="${'Designer: ' + zakaz.getDesigner().getLastname()+' '+zakaz.getDesigner().getCustomer().getName()}"></p>
                          <p th:text="${'Price: ' + zakaz.getService().getPrice()}"></p>
                          <p th:text="${'Platform: ' + zakaz.getService().getPlatform()}"></p>
                          <p th:text="${'Date: '+ zakaz.getDate()}"></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</body>
</html>